<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <div th:insert="~{inclusions :: bootstrap}"></div>

    <title>Автомобильные инциденты</title>
</head>
<body>
<div class="container">
    <div th:insert="~{inclusions :: navbar}"></div>
    <div class="card">
        <div class="card-body">
            <p> В ходе работы приложения произошла ошибка. </p>
            <label th:text="${errorMsg}"></label>
        </div>
    </div>
</div>
</body>
</html>