<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <div th:insert="~{inclusions :: bootstrap}"></div>

    <title>Автомобильные инциденты</title>
</head>
<body>
<div class="container">
    <div th:insert="~{inclusions :: navbar}"></div>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя заявителя</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Адрес</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="accident: ${accidents}">
                    <td th:text="${accident.id}"/>
                    <td th:text="${accident.name}"/>
                    <td th:text="${accident.text}"/>
                    <td th:text="${accident.address}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>